{% extends "layout.html" %}

{% block sidebar %}
    {% include "components/admin_sidebar.html" %}
{% endblock sidebar %}


{% block section %}

<section class="mx-auto w-full max-w-7xl px-4 ">

<div class="max-w-full bg-white border border-gray-200 rounded-lg shadow-lg p-6">
  <div class="flex items-center justify-between">
    <div>
      <h2 class="text-2xl font-bold text-gray-900">{{ category.name }}</h2>
      <p class="text-sm">{{ category.created_at.strftime('%b, %d-%Y') }}</p>
    </div>
    <p class="text-lg font-semibold text-gray-900">{{ category.base_price }} ₹/hr</p>

  </div>



  <p class="text-gray-600 text-base mt-5">
    {{ category.long_description }}
  </p>

 
  <hr class="my-4 border-gray-300">

  <div class="grid grid-cols-4 gap-4">
    <!-- Total Providers -->
    <div class="bg-blue-100 p-4 rounded-lg text-center">
      <h5 class="text-xl font-bold text-blue-700">{{ category_stats[0] }}</h5>
      <p class="text-sm text-blue-600">Service Providers</p>
    </div>
    
    <!-- Total Services -->
    <div class="bg-purple-100 p-4 rounded-lg text-center">
      <h5 class="text-xl font-bold text-purple-700">{{ category_stats[1] }}</h5>
      <p class="text-sm text-purple-600">Services Listed</p>
    </div>

    <!-- Total Bookings -->
    <div class="bg-yellow-100 p-4 rounded-lg text-center">
      <h5 class="text-xl font-bold text-yellow-700">{{ category_stats[2] }} </h5>
      <p class="text-sm text-yellow-600">Total Bookings</p>
    </div>

    <!-- Total Revenue -->
    <div class="bg-green-100 p-4 rounded-lg text-center">
      <h5 class="text-xl font-bold text-green-700">{{ category_stats[3] }} ₹</h5>
      <p class="text-sm text-green-600">Total Revenue</p>
    </div>
  </div>

  {% if services %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
    <h3 class="text-lg font-medium text-gray-700 mb-4">Active Services</h3>

  <table class="w-full  bg-white text-sm">
    <thead class="text-left bg-gray-50 uppercase">
      <tr class="text-center">
        <th scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Service Id</th>
        <th scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Title</th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Provider</th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Price /hr</th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Avg rating</th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Active Bookings </th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Total Bookings </th>
        <th scope="col"  class="px-4 py-2">Action</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
        {% for service in services  %}
        <tr class="odd:bg-white even:bg-gray-50 text-center">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ service.id }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ service.title }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ service.provider.username }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ service.price }} ₹</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ service.avg_rating }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ service.total_active_bookings }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ service.total_served_bookings }}</td>
            <td class="whitespace-nowrap px-4 py-2 flex justify-center gap-3">
              <a
                href="{{ url_for('admin.get_service', service_id=service.id) }}"
                  class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
              >
                  View
              </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

  {% if providers %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
    <h3 class="text-lg font-medium text-gray-700 mb-4">Active Providers</h3>

  <table class="w-full  bg-white text-sm">
    <thead class="text-left bg-gray-50 uppercase">
      <tr class="text-center">
        <th scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Prov Id</th>
        <th scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Avg rating</th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Active Services</th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Active Bookings </th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Total Bookings </th>
        <th scope="col"  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Lifetime Earning </th>
        <th scope="col"  class="px-4 py-2">Action</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
        {% for provider in providers  %}
        <tr class="odd:bg-white even:bg-gray-50 text-center">
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ provider.id }}</td>
            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ provider.full_name }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ provider.avg_rating }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ provider.total_active_services }} </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ provider.total_active_bookings }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ provider.total_served_bookings }}</td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ provider.lifetime_earning }} ₹</td>
            <td class="whitespace-nowrap px-4 py-2 flex justify-center gap-3">
              <a
                href="{{ url_for('admin.get_provider', prov_id=provider.id) }}"
                  class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
              >
                  View
              </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

  <div class="mt-3 grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <div class="bg-gray-50 p-4 rounded-lg space-y-1 text-gray-500">
        <p><span class="font-medium">Service Listing Rate:</span> {{ category.service_rate }} %</p>
        <p><span class="font-medium">Service Booking Rate:</span> {{ category.booking_rate }} %</p>
        <p><span class="font-medium">Transaction Rate:</span> {{ category.transaction_rate }} %</p>
      </div>
    </div>
  </div>


</div>


</section>
{% endblock section %}